body {
  background: rgb(228, 221, 221);
  margin: 0;
  padding: 0;
}

.navbar-dark {
  background-color: rgb(99, 99, 47);
}
.hr {
  text-shadow: 3px 2px 3px #000;
}
.jum-header {
  color: rgb(24, 102, 61);
  font-family: monospace;
  font-weight: bolder;
}
.jum-img {
  box-shadow: 2px 2px 2px 2px rgb(146, 138, 138);
  border-radius: 20px;
}
.card-header{
  color: #000;
  font-size: 25px;
  font-weight: bolder;
  font-family: monospace;
  
}
.soup-name {
  color: #000;
  font-weight: bolder;
  font-size: x-large;
  font-family: monospace;

}

.card-link:hover {
  text-decoration: none;
}
.card-link .card {
  box-shadow: 1px 5px 5px 2px rgb(94, 92, 88);
  border-radius: 10px;
}
.card-link .card:hover {
  box-shadow: 2px 5px 5px 2px rgb(61, 61, 60);
}
.footer {
  background-color: rgb(70, 67, 67);
  color: wheat;
}