body {
  background: linear-gradient(rgb(131, 57, 57),rgb(135, 184, 135),rgb(158, 147, 100), rgb(74, 135, 139), rgb(190, 190, 201));
  margin: 0;
  padding: 0;
}

.navbar-dark {
  background-color: rgb(148, 148, 56);
}
.hr {
  text-shadow: 3px 2px 3px #000;
}
.jumbotron {
  background: rgb(172, 164, 164);
}
.jum-header {
  color: rgb(24, 102, 61);
  font-family: monospace;
  font-weight: bolder;
}
.jum-img {
  box-shadow: 2px 2px 2px 2px rgb(146, 138, 138);
  border-radius: 20px;
}
.card-header{
  color: #000;
  font-size: 25px;
  font-weight: bolder;
  font-family: monospace;
  
}
.soup-name {
  color: #000;
  font-weight: bolder;
  font-size: x-large;
  font-family: monospace;

}

.card-link:hover {
  text-decoration: none;
}
.card {
  box-shadow: 1px 5px 5px 2px rgb(94, 92, 88);
  border-radius: 10px;
}
.card-link .card:hover {
  box-shadow: 2px 5px 5px 2px rgb(61, 61, 60);
}
.card .label {
  background: rgb(121, 172, 161);
  margin-bottom: 0;
}
.breadcrumb {
  background-color: rgb(77, 72, 72);
}
.breadcrumb-item:hover {
  font-size: large;
}
.next-btn, .prev-btn {
  border-radius: 10px;
  color: aqua;
  background-color: rgb(112, 109, 109);
}
.footer {
  background-color: rgb(70, 67, 67);
  color: wheat;
}